<script>

    function getDebugURL() {
        $.getJSON("<%= defined?(disk_wizards_engine) ? disk_wizards_engine.debug_info_path : debug_info_path %>", function (data) {
            if (data["error"]) {
                alert("An error occourd while generating debug_info paste:\n\n" + data['error']);
                return 0
            }
            $("#fpaste_url").attr("value", data['url']);
            $('#debug_info').slideDown();
        });
    }
    $(function () {
        $('#fpaste_url').tooltip();
        var $loading = $('#fpaste_loading').hide();
        $(document).ajaxStart(function () {
            $loading.show();
        }).ajaxStop(function () {
            $loading.hide();
        });
    });
</script>
<style>
    /*
    * Fix for conflicts with platform CSS
    */
    input[type="text"] {
        border: 1px solid #d0cece;
        height: auto;
        width: 100%;
        padding: 0px;
        background: white;
        font-size: large;
    }
</style>
<div class="row">
  <br/>
  <% if user_selections['debug'] %>
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-warning">
          <div class="panel-heading">
            Debug Information <span class="glyphicon glyphicon-info-sign"></span>
          </div>
          <div class="panel-body text-left">
            <p class="text-muted">
              Note:
            </p>

            <p class="text-muted">
              1. None of the commands got executed on HDA.
            </p>

            <p class="text-muted">
              2. Pipeline character(|) has encoded as exclamation character(!).
            </p>

            <p class="text-muted">
              3. Order(#) of the commands does matter if you try to execute them manually.
            </p>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
            <tr class="active">
              <th class="text-center text-primary" style="width: 5%;">#</th>
              <th class="text-center text-primary" style="width: 20%;">Command name</th>
              <th class="text-center text-primary">Parameters</th>
            </tr>
            </thead>
            <tbody>
            <%
               count = 0
               @operations.each do |operation|
                 count += 1
            %>
                <% if operation[:name].eql? 'exception' %>
                    <tr>
                      <td style="vertical-align: middle;color: red;">
                        <span class="glyphicon glyphicon-exclamation-sign"></span></td>
                      <td style="vertical-align: middle;" class="text-warning"><%= operation[:name] %></td>
                      <td class="text-justify">
                        <% operation[:message].try(:each_line) do |line| %>
                            <%= line %>
                            <br/>
                        <% end %> </td>
                    </tr>
                <% else %>

                    <tr>
                      <td style="vertical-align: middle;"><%= count %></td>
                      <td><%= operation[:name] %></td>
                      <td class="text-justify">
                        <% operation[:parameters].try(:each_line) do |line| %>
                            <%= line %>
                            <br/>
                        <% end %> </td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
  <% else
       @user_selections["format"] %>
      <div class="col-md-6 col-md-offset-3">
        <table class="table">
          <thead>
          <tr>
            <th>Disk name</th>
            <th>New filesystem type</th>
            <% if @user_selections["option"] %>
                <th>Mount point</th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= @user_selections['path'] %></td>
            <td><%= Partition.FilesystemType.key(@user_selections['fs_type'].to_i) %></td>
            <% if @user_selections['option'] %>
                <td>/var/hda/disks/<%= @user_selections['label'] %></td>
            <% end %>
          </tr>
          </tbody>
        </table>
  <% end %>
  <div class="col-md-12 well well-sm">
    <a href="/tab/disks/disk_wizards" class="btn btn-success"> Continue with another device </a>
    <button onclick="getDebugURL();" id="get_debug_info" class="btn btn-warning">
      Get Debug infomation
    </button>
  </div>
  </div>
  <div id="fpaste_loading" class="col-md-8 col-md-offset-2">
    <%= image_tag "disk_wizard/progress.gif" %>
    <p class="text-primary"><span class="glyphicon glyphicon-time"></span> Please wait.Generating fpaste URL.......</p>
  </div>
  <div id="debug_info" style="display: none;" class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <form class="form-inline" role="form">
        <div class="form-group has-success has-feedback">
          <label class="control-label" for="fpaste_url">URL: <span class="glyphicon glyphicon-globe"></span></label>
          <input id="fpaste_url" style="width: 500px;" onclick="$(this).select();" data-toggle="tooltip" data-placement="top" title="Press Ctrl+c to coppy URL to clipboard" class="form-control" id="focusedInput" type="text" placeholder="Generating URL.." autocomplete="off">
          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
      </form>
      <div class="panel-body text-left">
        <p class="text-primary">
          After generating your paste, copy the generated url above.
        </p>

        <p class="text-primary">
          Head over to the Amahi IRC channel, and share your link with one of the helpful folks there.
        </p>

        <p class="text-info">
          Good Luck! Thanks for choosing Amahi.
        </p>
      </div>
    </div>
  </div>
  </div>
</div>
