<script>
    $(function () {
        $('.mount_check').change(function () {
            var $this = $(this);
            // $this will contain a reference to the checkbox
            if ($this.is(':checked')) {
                $('#label_input').slideDown();
            } else {
                $('#label_input').slideUp();
            }
        });
    });
</script>
<div class="panel-body">
  <%= form_tag(disk_wizards_engine.confirmation_path, {method: "POST", id: "options"}) %>
  <%= hidden_field_tag 'device', user_selections['path'] %>
  <div class="row">
    <% "*#{user_selections}" %>
    <div class="col-md-5 col-md-offset-3 well">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          <h5>What would you like to do?</h5>
        </li>
        <li class="list-group-item">
          <div class="checkbox">
            <%= radio_button_tag('option[]', "", !!((user_selections['option'].include? '') rescue false))%>
              <div class="alert alert-info">
                <label > Nothing </label>
              </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="checkbox">
            <%= radio_button_tag('option[]', "1", !!((user_selections['option'].include? '1') rescue false), class: 'mount_check') %>
              <div class="alert alert-info">
                <label for="option_"> Mount this drive automatically.</label>
                <div style="<%= !!((user_selections['option'].include? '1') rescue false) ? nil : 'display: none' %>" id="label_input" class="input-group input-group-sm">
                  <span class="input-group-addon">Enter a label</span>
                  <input style="margin: auto;" type="text" name="label" id="label" class="form-control" placeholder="Label" value="<%= user_selections['label'] || nil %>">
                </div>
              </div>
          </div>
        </li>
        <% if user_selections['format'].blank?%>
          <li class="list-group-item">
            <div class="checkbox">
              <%= radio_button_tag('option[]', "2", !!((user_selections['option'].include? '2') rescue false)) %>
                <div class="alert alert-info">
                  <label > Delete this partition</label>
                </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row text-left">
    <%= link_to(disk_wizards_engine.file_system_path , class: "btn btn-default") do %>
        &larr; Back
    <% end %>
    <%= link_to '#', :onclick => "$('#options').submit()", style: "float: right;", class: "btn btn-success" do %>
        Next &rarr;
    <% end %>
  </div>
</div>
