<script>
    $(function () {
        $('.mount_check').change(function () {
            var $this = $(this);
            // $this will contain a reference to the checkbox
            if ($this.is(':checked')) {
                $('#label_input').slideDown();
            } else {
                $('#label_input').slideUp();
            }
        });
    });
    $(function () {
        $('.mount_check_creation').change(function () {
            var $this = $(this);
            // $this will contain a reference to the checkbox
            if ($this.is(':checked')) {
                $('#label_input_creation').slideDown();
            } else {
                $('#label_input_creation').slideUp();
            }
        });
    });
  $( document ).ready( function () {
    if ($('.create_new_partition').is(':checked')) {
        $('#fs_selector').slideDown();
        $('#mount_after_creation').slideDown();
    } else {
        $('#fs_selector').slideUp();
        $('#mount_after_creation').slideUp();
    }
  });
  $(function () {
    $('.create_new_partition, .nothing').change(function () {
        if ($('.create_new_partition').is(':checked')) {
            $('#fs_selector').slideDown();
            $('#mount_after_creation').slideDown();
        } else {
            $('#fs_selector').slideUp();
            $('#mount_after_creation').slideUp();
        }
    });
  });
</script>
<div class="panel-body">
  <%= form_tag(disk_wizards_engine.confirmation_path, {method: "POST", id: "options"}) %>
  <%= hidden_field_tag 'device', user_selections['path'] %>
  <div class="row">
    <% "*#{user_selections}" %>
    <div class="col-md-5 col-md-offset-3 well">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          <h5>What would you like to do?</h5>
        </li>
        <li class="list-group-item">
          <div class="checkbox">
            <%= radio_button_tag('option[]', "", !!((user_selections['option'].include? '') rescue false), class: "nothing")%>
              <div class="alert alert-info">
                <label > Nothing </label>
              </div>
          </div>
        </li>
        <% unless (user_selections['path'].match(/^\/dev/).blank?) %> <!-- the selected partition is allocated -->
          <li class="list-group-item">
            <div class="checkbox">
              <%= radio_button_tag('option[]', "1", !!((user_selections['option'].include? '1') rescue false), class: 'mount_check') %>
                <div class="alert alert-info">
                  <label for="option_"> Mount this drive automatically.</label>
                  <div style="<%= !!((user_selections['option'].include? '1') rescue false) ? nil : 'display: none' %>" id="label_input" class="input-group input-group-sm">
                    <span class="input-group-addon">Enter a label</span>
                    <input style="margin: auto;" type="text" name="label" id="label" class="form-control" placeholder="Label" value="<%= user_selections['label'] || nil %>">
                  </div>
                </div>
            </div>
          </li>
          <% if user_selections['format'].blank?%>
            <li class="list-group-item">
              <div class="checkbox">
                <%= radio_button_tag('option[]', "2", !!((user_selections['option'].include? '2') rescue false)) %>
                  <div class="alert alert-info">
                    <label > Delete this partition</label>
                  </div>
              </div>
            </li>
          <% end %>
        <% else %>
          <li class="list-group-item">
            <div class="checkbox">
              <%= radio_button_tag('option[]', "3", !!((user_selections['option'].include? '2') rescue false),class: "create_new_partition") %>
                <div class="alert alert-info">
                  <label > Create new partition</label>
                  <div class="row">
                    <div id="fs_selector" class="col-md-10 col-md-offset-1" style="display: none;">
                      <div class="well">
                        <ul class="list-group">
                          <li class="list-group-item list-group-item-success">
                            Please select a file system type
                          </li>
                          <%= select_tag :fs_type, options_for_select([["Ext4", 0], ["Ext3", 1], ["NTFS", 2], ["FAT32", 3]], 0), class: "form-control" %>

                        </ul>
                      </div>
                    </div>

                    <div id="mount_after_creation" class="col-md-10 col-md-offset-1" style="display: none;">
                      <div class="checkbox">
                        <%= check_box_tag('option[]', "1", !!((user_selections['option'].include? '1') rescue false), class: 'mount_check_creation') %>
                          <div class="alert alert-info">
                            <label for="option_"> Mount this drive automatically.</label>
                            <div style="<%= !!((user_selections['option'].include? '1') rescue false) ? nil : 'display: none' %>" id="label_input_creation" class="input-group input-group-sm">
                              <span class="input-group-addon">Enter a label</span>
                              <input style="margin: auto;" type="text" name="label" id="label" class="form-control" placeholder="Label" value="<%= user_selections['label'] || nil %>">
                            </div>
                          </div>
                      </div>
                    </div>

                  </div>

                </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row text-left">
    <%= link_to(disk_wizards_engine.file_system_path , class: "btn btn-default") do %>
        &larr; Back
    <% end %>
    <%= link_to '#', :onclick => "$('#options').submit()", style: "float: right;", class: "btn btn-success" do %>
        Next &rarr;
    <% end %>
  </div>
</div>
