<script type="text/javascript">
	google.load("visualization", "1", {
packages : ["corechart"]
});
google.setOnLoadCallback(drawChart);
function drawChart() {
var data = google.visualization.arrayToDataTable([
['disk', 'sda1', 'sda2',{ role: 'tooltip' },{ role: 'style' },{ role: 'annotation' }, 'sda3',{ role: 'tooltip' },{ role: 'style' },'sda4',{ role: 'style' },{ role: 'annotation' } ],
['sda', <%= @test %>
	, 24,'middle','stroke-color: #775588; stroke-width: 2; fill-color: #AEB404; fill-opacity: 0.9',"wewsdsf",20, 'Lahooola','stroke-color: #775588; stroke-opacity: 0.9; stroke-width: 2; fill-color: #AEB404; fill-opacity: 0.9',20,'stroke-color: #775588; stroke-opacity: 0.9; stroke-width: 2; fill-color: #424242; fill-opacity: 0.4','oks'],
	]);

	var options = {
		annotations : {
			textStyle : {
				fontName : 'Times-Roman',
				fontSize : 14,
			}
		},
		width : '100%',
		backgroundColor : '#F2F2F2',
		height : 100,
		legend : {
			position : 'top',
			maxLines : 10
		},
		bar : {
			groupWidth : '100%'
		},
		isStacked : true,
		enableInteractivity : true,
		hAxis : {
			viewWindowMode : 'maximized',
			gridlines : {
				color : 'transparent'
			},
			format : '#GB'
		},
		chartArea : {
			width : '95%'
		},
		legend : {
			position : 'top',
			alignment : 'center'
		},
		enableInteractivity : true,
	};

	var chart = new google.visualization.BarChart(document.getElementById('disk_stats'));
	google.visualization.events.addListener(chart, 'select', function() {
		var selection = chart.getSelection();
		// alert(data.getValue(selection[0].row, 1));
	});
	chart.draw(data, options);
	}
</script>

<div class="panel-body">
	<div class="row">
		<div class="well" id="disk_stats">
			<p class="bg-danger">
				Something went wrong!
			</p>
		</div>
	</div>
	<script>
		function check() {
			if (($('input[type=radio]:checked').size() > 0)) {
				return true;
			}
			alert("Please select a file system type!");
			return false;
		}
	</script>
	<%= form_tag(defined?(disk_wizards_engine) ? disk_wizards_engine.manage_path : manage_path ,{method: "POST",id:"select_fs", onsubmit: "return check()"}) %>
	<%= hidden_field_tag 'device', @selected_disk.kname %>
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<% "*****************#{@selected_disk}"%>

			<%=
 pie_chart({"Size: #{number_to_human_size @selected_disk.size}" => (@selected_disk.size)},\
			library: {legend: {position: 'top'}, \
			is3D: true, \
			pieSliceText: 'percentage', \
			tooltip: {text: 'percentage' }, \
			width: 400, \
			slices: [{color: '#A44585'},{color: '#00B5F0'}] \
			})
%>
			<div class="has-success has-feedback">
				<label class="control-label" for="inputSuccess4">Drive selected</label>
				<input type="text" class="form-control" value="<%= @selected_disk.kind_of?(Disk) ? @selected_disk.model : @selected_disk.disk.model %>" disabled>
				<span class="glyphicon glyphicon-ok form-control-feedback"></span>
			</div>

		</div>
		<div class="col-md-5 col-md-offset-1">

			<div class="well">

				<ul class="list-group">
					<li class="list-group-item list-group-item-success">
						Please select a file system type

					</li>
					<li class="list-group-item">
						<label> <%= radio_button_tag(:fs_type, "ext4",!!(user_selections && user_selections['fs_type'] == "ext4")) %>
							Ext4 </label>

					</li>
					<li class="list-group-item">
						<label> <%= radio_button_tag(:fs_type, "ext3",!!(user_selections && user_selections['fs_type'] == "ext3")) %>
							Ext3 </label>

					</li>

					<li class="list-group-item">
						<label> <%= radio_button_tag(:fs_type, "ntfs",!!(user_selections && user_selections['fs_type'] == "ntfs")) %>
							NTFS </label>

					</li>
					<li class="list-group-item">
						<label> <%= radio_button_tag(:fs_type, "fat32",!!(user_selections && user_selections['fs_type'] == "fat32")) %>
							FAT32 </label>

					</li>

				</ul>

			</div>

		</div>

	</div>
	<div class="row">

		<div class="row">
			<ul class="pager">
				<li class="previous">
					<%= link_to(defined?(disk_wizards_engine) ? disk_wizards_engine.select_path : select_path) do %>
					&larr; Back
					<% end %>
				</li>
				<li class="next">
					<% link_to(defined?(disk_wizards_engine) ? disk_wizards_engine.manage_path : manage_path) do %>
					Next &rarr;
					<% end %>
					<%= link_to '#', :onclick => "$('#select_fs').submit()" do %>
					Next &rarr;
					<% end %>
				</li>
			</ul>

		</div>
	</div>
	</form>
</div>