<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title><%= @page_title ||= 'Amahi Disk Wizad' %></title>

		<%= stylesheet_link_tag "application", media: "all" %>
		<%= stylesheet_link_tag "basic", media: "all" %>

		<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
		<%= javascript_include_tag "application"%>

		<%= favicon_link_tag "fav/favicon.ico"%>
		<%= csrf_meta_tag %>

	</head>
	<body>

		<%= render "shared/header" %>

		<div class="container" style="margin-top: 10px">

			<%= yield %>

		</div>

		<%= render "shared/footer" %>

	</body>
</html>
